// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.result {
	width: 500px;
	display: inline-block;
	padding: 50px;
}

.img-responsive {
	width: 100%;
	display: block;
	height: 430px;
}